.box{
    border-color:red;
    border-top: 20pv;
    height:50vh;
    border-style:solid;
    text-align:center;
    padding:50px;
    width:100vh;
    margin:50px;
    padding-bottom: 150px;
}
.my-form{
    display:hidden;
    border-color:blue;
    border-style:solid;
    visibility:unset;
}
  